@model electronics_shop.Models.Account

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section styles{
    <style>
        /*======= VALIDATOR =========*/
        .gap-4 {
            gap: 1.7rem;
        }

        .form-group.invalid .form-control {
            border-color: #f33a58;
        }

        .form-group.invalid .form-message {
            color: #f33a58;
        }

        .form-message {
            word-break: break-all;
            font-size: 0.7rem;
            line-height: 1.5rem;
            padding: 4px 0 0;
            display: block;
            word-break: normal;
            position: absolute;
            top: 37px;
            left: 7px
        }

        /*====== 19/12/23: ADD THÊM CSS */
        .text-danger {
            font-size: 0.9rem;
            color: #f33a58;
            line-height: 1.5;
            margin-top: 0.5rem;
        }
        /*==========================*/

        /*==========================*/
    </style>
}


<div class="banner-title-section container mx-auto my-5 px-2 sm:px-8">
    <div class="liner-container my-5 flex justify-center border-b-2 border-[rgba(119,119,119,.17)]">
        <h1 class="mb-[-2px] inline-block border-b-2 border-primary-color pb-3 text-2xl font-bold uppercase">
            Forgot Password
        </h1>
    </div>
</div>

<div class="login-section container mx-auto my-5 px-2 sm:px-8">
    <div class="mx-auto max-w-[500px] rounded-lg bg-white p-5">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @id = "form-1" }))
        {
            @Html.AntiForgeryToken()
            <span class="my-2" style="display:block; font-weight: 600; color: #211d70; margin-bottom: 5px">
                Enter the email of the associated
                account.
            </span>
            <div class="flex flex-col gap-1">
                @*@Html.HiddenFor(model => model.AccountCode)
                    @Html.HiddenFor(model => model.RoleID)
                    @Html.HiddenFor(model => model.AccountStatus)
                    @Html.HiddenFor(model => model.CreateAt)
                    @Html.HiddenFor(model => model.FirstName)
                    @Html.HiddenFor(model => model.LastName)
                    @Html.HiddenFor(model => model.Email)
                    @Html.HiddenFor(model => model.PhoneNumber)
                    @Html.HiddenFor(model => model.Avatar)

                    <div class="mb-4 form-group">
                        @Html.EditorFor(model => model.AccountCode, new { htmlAttributes = new { @class = "form-control", @id = "account-code", @type = "hidden" } })
                    </div>*@

                <div class="relative flex h-[40px] items-center form-group">
                    <i class="bi bi-mailbox absolute ml-2 flex text-[24px] text-gray-400"></i>
                    <input class="input pl-10" type="text" name="Email" id="email" placeholder="email" autocomplete=""
                           required />
                    <span class="form-message"></span>
                </div>

                <button class="btn-effect transition-all-300 h-full w-full rounded-lg bg-primary-color p-2" style="margin-top: 20px;" type="submit">
                    <span class="font-bold uppercase text-white">Send</span>
                </button>
            </div>

            <div class="mt-5 flex flex-col items-center justify-center border-t border-t-gray-400 pt-5">
                <p style="font-weight: 500;">Do you remember your old password? <a href="@Url.Action("Login", "Account")" style="color: #211d70; font-weight: 600"> Login</a></p>
            </div>
        }
    </div>
</div>



@section scriptsJS {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Content/libraries/mixitup/mixitup.min.js"></script>
    <script src="~/Content/js/validator.js"></script>
    <script>
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isEmail('#email'),
            ],
        });
    </script>
}
