@using System.Web.Optimization
@using electronics_shop.Models
@{ Account account = (Account)Session["info"];}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Content/images/svg/logo.svg" type="image/x-icon" />

    <link rel="stylesheet" href="~/Content/unpkg.com/swiper%4011.0.4/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/Content/cdn.jsdelivr.net/npm/bootstrap-icons%401.7.2/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/Content/unpkg.com/metismenujs%401.4.0/dist/metismenujs.min.css" />
    <link rel="stylesheet" href="~/Content/libraries/iziToast/iziToast.min.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <title>Besnik. - Electronics store</title>

    @RenderSection("fixStyle", required: false)
</head>

<body class="flex min-h-screen flex-col overflow-hidden bg-body font-poppins text-txt">

    <!--=============== MENU OFFCANVAS - BEGIN : thiết bị di động ==============-->
    <div class="menu-mob modal transition-all-300 invisible fixed inset-0 z-50 h-full w-full bg-overlay opacity-0">
        <div class="flex h-full w-full">
            <div class="modal-content transition-all-300 relative left-[-999px] mr-auto flex h-full w-[288px] min-w-[250px] flex-col bg-white">
                <div class="w-full bg-secondary-color">
                    <button class="btn-close-modal transition-all-300 absolute top-5 right-5 p-[3px] text-white">
                        <i class="bi bi-x-lg text-stroke-medium pointer-events-none flex text-xl"></i>
                    </button>
                    <div class="py-12">
                        <img src="~/Content/images/svg/logo.svg" alt="Besnik." />
                    </div>
                </div>
                <nav class="h-full w-full overflow-auto bg-white">
                    <ul class="metismenu">
                        <li class="border-b border-gray-200">
                            <a class="flex select-none items-center p-2" href="index.html">
                                <i class="bi bi-house-door mr-3 flex text-xl text-primary-color"></i>
                                <span class="font-semibold">Home</span>
                            </a>
                        </li>
                        <li class="border-b border-gray-200">
                            <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2 underlined-animated group"
                                 aria-expanded="false" role="menu">
                                <i class="bi bi-person mr-3 flex text-xl text-primary-color"></i>
                                <a href="@Url.Action("Register", "Account")" class="font-semibold" style="color: #011638;">Sign Up</a>
                            </div>
                        </li>
                        <li class="border-b border-gray-200">
                            <div class="btn-open-modal cursor-pointer p-2" data-target=".wishlist-modal">
                                <div class="pointer-events-none flex cursor-pointer select-none items-center">
                                    <i class="bi bi-heart mr-3 flex text-xl text-primary-color"></i>
                                    <span class="font-semibold">Wishlist</span>
                                    <span class="badge ml-auto h-[22px] min-w-[22px] px-[6px]">0</span>
                                </div>
                            </div>
                        </li>
                        <li class="border-b border-gray-200">
                            <div class="btn-open-modal cursor-pointer p-2" data-target=".shopping-cart-modal">
                                <div class="pointer-events-none flex cursor-pointer select-none items-center">
                                    <i class="bi bi-cart mr-3 flex text-xl text-primary-color"></i>
                                    <span class="font-semibold">Shopping Cart</span>
                                    <span class="badge ml-auto h-[22px] min-w-[22px] px-[6px]">0</span>
                                </div>
                            </div>
                        </li>
                        <li class="border-b border-gray-200">
                            <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2"
                                 aria-expanded="false" role="menu">
                                <i class="bi bi-motherboard mr-3 flex text-xl text-primary-color"></i>
                                <span class="font-semibold">Smarthome</span>
                            </div>
                            <div class="metismenu-content">
                                <a class="btn-open-modal ml-10 block p-1" href="#">Robot Cleaner</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Ergonic Chair</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Air Purifier</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Smart Scale</a>
                            </div>
                        </li>
                        <li class="border-b border-gray-200">
                            <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2"
                                 aria-expanded="false" role="menu">
                                <i class="bi bi-mouse mr-3 flex text-xl text-primary-color"></i>
                                <span class="font-semibold">Computer Accessories</span>
                            </div>
                            <div class="metismenu-content">
                                <a class="btn-open-modal ml-10 block p-1" href="#">Power Bank</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Laptop Backpacks</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Smart Pen</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Keyboards</a>
                            </div>
                        </li>
                        <li class="border-b border-gray-200">
                            <div class="metismenu-btn has-arrow flex cursor-pointer select-none items-center p-2"
                                 aria-expanded="false" role="menu">
                                <i class="bi bi-pc-display mr-3 flex text-xl text-primary-color"></i>
                                <span class="font-semibold">Gaming Gear</span>
                            </div>
                            <div class="metismenu-content">
                                <a class="btn-open-modal ml-10 block p-1" href="#">Virtual Glasses</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Handheld Console</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Gaming Headphone</a>
                                <a class="btn-open-modal ml-10 block p-1" href="#">Play Station</a>
                            </div>
                        </li>

                        <li class="border-b border-gray-200">
                            <a class="flex select-none items-center p-2" href="contact-us.html">
                                <i class="bi bi-telephone mr-3 flex text-xl text-primary-color"></i>
                                <span class="font-semibold">Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--====================:: END ::=====================-->

    <header class="header-section relative z-30 shadow-custom-1">
        <div class="hidden bg-secondary-color sm:flex">
            <div class="container mx-auto grid h-full grid-cols-12 px-2 py-[6px] sm:px-8" style="background-color: #011638;">
                <div class="col-span-8 self-center">
                    <div class="flex gap-[15px]">
                        <div class="flex items-center gap-2">
                            <i class="bi bi-envelope flex text-2xl text-primary-color"></i>
                            <a href="#" class="font-light text-white">Besnik&#64;example.com</a>
                        </div>
                        <div class="flex items-center gap-2">
                            <i class="bi bi-telephone flex text-xl text-primary-color"></i>
                            <a href="#" class="font-light text-white">0987-083-245</a>
                        </div>
                    </div>
                </div>
                <div class="col-span-4 self-center justify-self-end">
                    <div class="flex items-center gap-[10px]">
                        <a href="#">
                            <i class="bi bi-instagram transition-all-300 flex text-icon hover:text-white"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-facebook transition-all-300 flex text-icon hover:text-white"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-twitter transition-all-300 flex text-icon hover:text-white"></i>
                        </a>
                        <a href="#">
                            <i class="bi bi-youtube transition-all-300 flex text-icon hover:text-white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-secondary-color">
            <div class="container mx-auto grid h-full grid-cols-4 gap-1 px-2 py-5 sm:px-8 lg:grid-cols-12 lg:gap-0"
                 style="background-color: #fff; color: #011638;">
                <div class="order-1 col-span-2 self-center lg:order-1 lg:col-span-3">
                    <a href="index.html">
                        <img class="inline" src="~/Content/images/svg/logo.svg" alt="Besnik." />
                    </a>
                </div>
                <div class="header-search transition-all-300 order-3 col-span-4 mt-[10px] hidden self-center lg:order-2 lg:col-span-6 lg:mt-0 lg:block">
                    <form class="search" action="#">
                        <div class="flex h-[40px] overflow-hidden rounded-[50px] bg-primary-rgba">
                            <input class="search w-full border-none bg-transparent py-[5px] pl-5 text-white placeholder-icon focus:border-none focus:ring-0 focus:ring-transparent"
                                   type="search" placeholder="Search..." />
                            <button class="btn-search px-3 text-white" type="submit">
                                <i class="bi bi-search flex text-xl"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="order-2 col-span-2 flex gap-2 self-center justify-self-end lg:order-3 lg:col-span-3 xl:gap-5">
                    <div class="flex items-center lg:hidden">
                        <button class="btn-search-mob p-[5px] text-white">
                            <i class="bi bi-search pointer-events-none flex text-2xl"></i>
                        </button>
                    </div>
                    <div class="flex items-center lg:hidden">
                        <button class="btn-open-modal text-white" data-target=".menu-mob">
                            <i class="bi bi-list pointer-events-none flex text-3xl"></i>
                        </button>
                    </div>
                    <div class="group-items hidden items-center gap-5 text-white lg:flex">
                        <div class="relative">
                            <a class="btn-open-modal" data-target=".wishlist-modal" href="javascript:void(0)">
                                <i class="bi bi-heart pointer-events-none flex translate-y-1 transform text-[32px] text-white"
                                   style="color: #011638;"></i>
                            </a>
                            <span class="badge absolute top-0 right-[-6px] h-[15px] min-w-[15px] px-[2px]">0</span>
                        </div>
                        <div class="relative">
                            <a class="btn-open-modal" data-target=".shopping-cart-modal" href="javascript:void(0)">
                                <i class="bi bi-cart2 pointer-events-none flex text-[35px] text-white" style="color: #011638;"></i>
                            </a>
                            <span class="badge absolute top-0 right-[-6px] h-[15px] min-w-[15px] px-[2px]">0</span>
                        </div>
                    </div>
                    <div class="group relative hidden lg:flex">
                        <div class="flex cursor-pointer select-none items-center gap-1 underlined-animated group relative">
                            @if (Session["info"] != null)
                            {
                                <div class="group relative hidden lg:flex">
                                    <div class="flex cursor-pointer select-none items-center gap-1">
                                        <a class="font-semibold text-white" style="color: #011638;">Sign Up</a>
                                        <span>@account.FullName<i class="bi bi-caret-down-fill transition-all-300 flex rotate-0 text-sm text-white group-hover:rotate-180"></i></span>
                                    </div>
                                    <div class="transition-all-300 invisible absolute top-full z-30 w-[120%] pt-[10px] opacity-0 group-hover:visible group-hover:opacity-100">
                                        <div class="arrow relative">
                                            <ul class="overflow-hidden rounded-md bg-white p-[6px] shadow-custom-1">
                                                <li class="hover:font-semibold">
                                                    <a href="@Url.Action("EditProfile", "Account")" class="btn-open-modal" data-tab="0" data-target=".entry-modal">
                                                        <div class="pointer-events-none flex items-center gap-2 p-1">
                                                            <i class="bi bi-person-badge flex text-xl text-primary-color"></i>
                                                            <span>My Account</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="hover:font-semibold">
                                                    <a href="@Url.Action("ChangePassword", "Account")" class="btn-open-modal" data-tab="1" data-target=".entry-modal">
                                                        <div class="pointer-events-none flex items-center gap-2 p-1">
                                                            <i class="bi bi-key-fill flex text-xl text-primary-color"></i>
                                                            <span>Change password</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="hover:font-semibold">
                                                    <div class="pointer-events-none flex items-center gap-2 p-1">
                                                        <i class="bi bi-arrow-right-circle-fill flex text-xl text-primary-color">@Html.ActionLink("Log Out", "Logout", "Account")</i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="flex cursor-pointer select-none items-center gap-1">
                                    <a href="~/Account/Register" class="font-semibold text-white" style="color: #011638;">Sign Up</a>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden bg-white lg:block">
            <nav class="container mx-auto px-2 sm:px-8">
                <ul class="menu flex flex-wrap items-center justify-between py-[10px] text-lg">
                    <li class="underlined-animated group relative">
                        <a href="#" class="btn-open flex items-center gap-1 font-semibold">
                            <span>Products</span>
                            <i class="bi bi-caret-down-fill transition-all-300 flex rotate-0 text-xs text-primary-color group-hover:rotate-180"></i>
                        </a>
                        <div class="submenu transition-all-300 invisible absolute left-0 pt-[10px] opacity-0 group-hover:visible group-hover:opacity-100">
                            <ul class="relative w-[250px] bg-white text-base shadow-custom-1">

                                <li class="group-1">
                                    <a href="#" class="flex items-center gap-2 p-2">
                                        <i class="bi bi-circle-fill group-1-hover-visible invisible flex text-[6px] text-primary-color"></i>
                                        <span class="group-1-hover-font">SmartHome</span>
                                        <i class="bi bi-caret-right-fill group-1-hover-visible invisible ml-auto flex text-xs text-primary-color"></i>
                                    </a>
                                    <div class="submenu group-1-hover-visible transition-all-300 invisible absolute top-0 left-full min-h-full min-w-[680px] opacity-0">
                                        <div class="bg-white shadow-custom-2">
                                            <div class="border-b-2 border-primary-color py-[10px]">
                                                <span class="px-5 text-3xl font-bold uppercase text-primary-color">SmartHome</span>
                                            </div>
                                            <div class="submenu-categories flex flex-wrap">
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img"
                                                                 src="~/Content/images/categories/pc_components/motherboards.jpg" alt="motherboard" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Robot Cleaner</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img"
                                                                 src="~/Content/images/categories/pc_components/processors.jpg" alt="processors" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Ergonic Chair</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img" src="~/Content/images/categories/pc_components/rams.jpg"
                                                                 alt="rams" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Air Purifier</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img"
                                                                 src="~/Content/images/categories/pc_components/video_cards.jpg" alt="video cards" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Smart Scale</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="group-1">
                                    <a href="#" class="flex items-center gap-2 p-2">
                                        <i class="bi bi-circle-fill group-1-hover-visible invisible flex text-[6px] text-primary-color"></i>
                                        <span class="group-1-hover-font">Computer Accessories</span>
                                        <i class="bi bi-caret-right-fill group-1-hover-visible invisible ml-auto flex text-xs text-primary-color"></i>
                                    </a>
                                    <div class="submenu group-1-hover-visible transition-all-300 invisible absolute top-0 left-full min-h-full min-w-[680px] opacity-0">
                                        <div class="bg-white shadow-custom-2">
                                            <div class="border-b-2 border-primary-color py-[10px]">
                                                <span class="px-5 text-3xl font-bold uppercase text-primary-color">Computer Accessories</span>
                                            </div>
                                            <div class="submenu-categories flex flex-wrap">
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img"
                                                                 src="~/Content/images/categories/peripherals/keywords.jpg" alt="motherboard" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Power Bank</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img" src="~/Content/images/categories/peripherals/mouse.jpg"
                                                                 alt="processors" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Laptop Backpacks</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img" src="~/Content/images/categories/peripherals/mic.jpg"
                                                                 alt="rams" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Smart Pen</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img" src="~/Content/images/categories/peripherals/webcam.jpg"
                                                                 alt="rams" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Keyboards</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li class="group-1">
                                    <a href="#" class="flex items-center gap-2 p-2">
                                        <i class="bi bi-circle-fill group-1-hover-visible invisible flex text-[6px] text-primary-color"></i>
                                        <span class="group-1-hover-font">Gaming Gear</span>
                                        <i class="bi bi-caret-right-fill group-1-hover-visible invisible ml-auto flex text-xs text-primary-color"></i>
                                    </a>
                                    <div class="submenu group-1-hover-visible transition-all-300 invisible absolute top-0 left-full min-h-full min-w-[680px] opacity-0">
                                        <div class="bg-white shadow-custom-2">
                                            <div class="border-b-2 border-primary-color py-[10px]">
                                                <span class="px-5 text-3xl font-bold uppercase text-primary-color">Gaming Gear</span>
                                            </div>
                                            <div class="submenu-categories flex flex-wrap">
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img" src="~/Content/images/categories/computers/desktops.jpg"
                                                                 alt="motherboard" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Virtual Glasses</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img" src="~/Content/images/categories/computers/notebooks.jpg"
                                                                 alt="processors" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Handheld Console</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img" src="~/Content/images/categories/computers/notebooks.jpg"
                                                                 alt="processors" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Gaming Headphone</span>
                                                    </a>
                                                </div>
                                                <div class="group-2 p-[10px]">
                                                    <a class="categorie-container inline-block" href="#">
                                                        <div class="categorie-img h-[150px] w-[150px]">
                                                            <img class="img-product group-2-hover-img" src="~/Content/images/categories/computers/notebooks.jpg"
                                                                 alt="processors" />
                                                        </div>
                                                        <span class="group-2-hover-font block text-center">Play Station</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="underlined-animated">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="underlined-animated group">
                        <a href="shop-mixed.html" class="flex items-center gap-1">
                            <span>Shop</span>
                        </a>
                    </li>
                    <li class="underlined-animated">
                        <a href="#">Smarthome</a>
                    </li>
                    <li class="underlined-animated">
                        <a href="#">Keyboard</a>
                    </li>
                    <li class="underlined-animated">
                        <a href="#">Computer Accessories</a>
                    </li>
                    <li class="underlined-animated">
                        <a href="contact-us.html">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>


    @RenderBody()


    <footer class="footer-section mt-auto w-full bg-[#00abcc] text-gray-400">
        <div class="container mx-auto grid grid-cols-12 px-4 sm:px-8">
            <div class="col-span-12 py-[50px]">
                <div class="grid grid-cols-12 gap-2">
                    <div class="col-span-12 sm:col-span-6 lg:col-span-4">
                        <div class="pb-6">
                            <img src="~/Content/images/svg/logo.svg" class="h-[40px]" alt="Besnik" />
                        </div>
                        <div>
                            <div class="flex items-center gap-[10px] py-2">
                                <i class="bi bi-envelope-fill flex text-xl text-primary-color"></i>
                                <a class="break-all" href="#">besnik&#64;example.com</a>
                            </div>
                            <div class="flex items-center gap-[10px] py-2">
                                <i class="bi bi-telephone-fill flex text-xl text-primary-color"></i>
                                <a class="break-all" href="#">0987-083245</a>
                            </div>
                            <div class="flex items-center gap-[10px] py-2">
                                <i class="bi bi-geo-alt-fill flex text-xl text-primary-color"></i>
                                <span class="break-all">22/26 Dong Hung Thuan 17 - Q12 - TP HCM</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-span-12 py-5 sm:col-span-6 sm:py-0 lg:col-span-4">
                        <h3 class="pb-2 font-semibold text-gray-300">Useful Links</h3>
                        <div>
                            <ul class="flex flex-col flex-wrap gap-2 text-sm xs:max-h-[200px]">
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">Terms &amp; Conditions</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">New products</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">Best sales</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">Secure payment</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">Services</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">Delivery</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">Legal Notice</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">About us</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">Contact us</a>
                                </li>
                                <li class="group relative flex items-center hover:text-primary-color">
                                    <i class="bi bi-circle-fill invisible absolute -left-4 flex text-[6px] text-primary-color group-hover:visible"></i>
                                    <a href="#" class="transition-all-300 group-hover:text-white">Stores</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-span-12 lg:col-span-4">
                        <h3 class="pb-2 font-semibold text-gray-300">
                            Be the first to know it
                        </h3>
                        <span class="py-2 text-sm">
                            Subscribe to receive updates on our store and special
                            offers
                        </span>
                        <form class="py-2">
                            <div class="flex overflow-hidden rounded-lg bg-gray-rgba p-2">
                                <input class="w-full border-none bg-transparent pl-2 focus:border-none focus:ring-0 focus:ring-transparent"
                                       type="text" placeholder="Your email address" />
                                <button class="p-1" type="submit">
                                    <i class="bi bi-send flex text-lg text-white"></i>
                                </button>
                            </div>
                        </form>
                        <div class="flex gap-2 py-2">
                            <div class="relative h-8 w-8 overflow-hidden rounded-full">
                                <a class="instagram-before flex h-8 w-8 items-center justify-center bg-gray-rgba text-center text-white"
                                   href="#">
                                    <i class="bi bi-instagram relative z-[2] flex"></i>
                                </a>
                            </div>
                            <div class="transition-all-300 h-8 w-8 rounded-full bg-gray-rgba hover:bg-facebook">
                                <a class="flex h-8 w-8 items-center justify-center" href="#">
                                    <i class="bi bi-facebook flex text-white"></i>
                                </a>
                            </div>
                            <div class="transition-all-300 h-8 w-8 rounded-full bg-gray-rgba hover:bg-twitter">
                                <a class="flex h-8 w-8 items-center justify-center" href="#">
                                    <i class="bi bi-twitter flex text-white"></i>
                                </a>
                            </div>
                            <div class="transition-all-300 h-8 w-8 rounded-full bg-gray-rgba hover:bg-youtube">
                                <a class="flex h-8 w-8 items-center justify-center" href="#">
                                    <i class="bi bi-youtube flex text-white"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 pb-5">
                <p class="text-center">
                    © <span class="current-year"></span> Example. All rights reserved
                </p>
            </div>
        </div>
    </footer>

    <script src="~/Content/unpkg.com/popperjs/core.js"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="~/Content/unpkg.com/swiper%4011.0.4/swiper-bundle.min.js"></script>
    <script src="~/Content/unpkg.com/metismenujs%401.4.0/dist/metismenujs.min.js"></script>
    <script src="~/Content/libraries/iziToast/iziToast.min.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scriptsJS", required: false);

</body>

</html>

